/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap');


/* GENERAL */

body{
  width:100vw;
  margin: 0px;
  padding-top: 2rem;
  font-family: 'Poppins', sans-serif;
  color: #f3f3f3;
  background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

form, fieldtest, label, select, .input-area, textarea {
 margin: 0px;
 padding: 0px;
}

h1, p {
  margin: 0px auto;
  text-align: center;
}

p {
  font-weight: 200;
  font-style: italic;
  margin-bottom: 1.75rem;
}

/* FORMS */

form {
  margin: 0px auto;
  width: 80vw;
  max-width: 35rem;
  padding: 1.25rem 0.875rem; 
  background-color: rgba(27, 27, 50, 0.8);
  border-style: transparent;
  border-radius: 5px;
}

fieldset {
  border-style: none;
}

label, select, .input-area, textarea, input[type="submit"] {
  display: block;
  width: 100%;
}

label {
  padding-bottom: 0.5rem;
}

.input-area, textarea {
  padding: 0.5rem 0.75rem;
  text-align: left;
  color: #495057;
  border-radius: 4px;
  border-style: none;
}

::placeholder {
  color: #495057;
} 

#submit {
  width: 95%;
  margin: auto;
  font-family: 'Poppins';
  color: #f3f3f3;
  padding: 0.75rem;
  margin-bottom: 2rem;
  background-color: #37af65;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}
